fastapi
uvicorn[standard]
streamlit
python-dotenv
langchain-groq
langchain-openai
langchain-tavily
langgraph
langchain-core
langchain-community
langchain-cohere
langchain-text-splitters
pydantic
requests
cohere
faiss-cpu
pdfplumber
PyPDF2
python-multipart
