fastapi
uvicorn[standard]
python-dotenv
langchain-groq
langchain-openai
langchain-tavily
langgraph
langchain-core
langchain-community
langchain-cohere
langchain-google-genai
langchain-text-splitters
pydantic
requests
cohere
faiss-cpu
pdfplumber
PyPDF2
python-docx
pandas
openpyxl
trafilatura
beautifulsoup4
lxml
python-multipart
sqlalchemy
tavily-python
